<nav class="navbar navbar-static-top navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">

      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse animated fadeInRight" id="navbar-example">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#one">Start</a></li>
        <li><a href="#two">Form</a></li>
        <li><a href="#three">Map</a></li>
        <li><a href="#three">Result</a></li>
      </ul>
    </div>
  </div>
</nav>
