$pink: #F80365;
$yellow: #FCC900;
$greenblue: #6CEAF9;
$purple: #6B85E6;

.landing {
  background: url(../../assets/images/fon.jpg) center right;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
}

.landing-text{
  text-align: center;
  color: #fff;
  position: absolute;
  transform: translate(50%, 50%);
  top: 0;
  left: 0;
  width: 50%;
  font-size: 2rem;

  h1 {
    font-size: 7rem;
  }
}

.btn-default {
  padding-left: 50px;
  padding-right: 50px;
  white-space: normal;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
  padding: 15px;
  font-size: 22px;
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
  transition: background-color 200ms ease-in-out;
  color: #fff;
  background-color: $pink;
  font-size: 22px;
  border: none;

  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background-color: $yellow;
  }

  &.btn-sm {
    font-size: 15px;
    padding: 6px;
  }
}

.scroll-btn {
  position: absolute;
  bottom: 150px;
  right: 150px;
  line-height: 3rem;
  opacity: .3;
  font-size: 4rem;
  padding: 20px;
  border-radius: 50%;
  display: block;
}

.forms {
  background: linear-gradient(0deg, #B3D1FF, #40B8EA);
  height: inherit;
  padding: 150px 0 20px;
}

.d3 {
  height: 83vh;
}

.product-table {
  margin-top: 30px;
}

.product-table-row {
  margin-bottom: 10px;
}

.product-table-header {
  color: #fefefe;
}

.txt-center {
  text-align: center;
}

.result {
  background: $purple;
  margin-top: 100px;
}

.render-container {
  position: relative;
}

.render-container-hint {
  position: absolute;
  display: inline-block;
  right: 30px;
  bottom: 30px;
  //font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #fefefe;
  font-size: 12px;
}

/*map*/
#map {
  height: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}

#map {
  margin-right: 400px;
}

#floating-panel {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}

@media print {
  #map {
    height: 500px;
    margin: 0;
  }

  #right-panel {
    float: none;
    width: auto;
  }
}

