<div class="container-fluid">

  <acme-navbar creation-date="main.creationDate"></acme-navbar>

  <section class="landing row" id="one">
    <div class="container landing-text">
      <h1>Cargo Mind</h1>
      <h2>Умный помощник в доставке грузов</h2>

      <div class="row">
        <div class="col-xs-6">
          Оптимальная раскладка товаров в транспортных контейнерах может быть сложной вычислительной задачей. Применение
          генетических алгоритмов дает отличные результаты.
        </div>
        <div class="col-xs-6">
          Планирование доставки товаров из одной точки мира в другую сложно выполнить вручную. Автоматический поиск
          наилучшего маршрута учитывает множество факторов и сэкономит ваши время и деньги.
        </div>
      </div>
      <a href="#two" class="btn btn-default">
        Вперёд и с песней!!
      </a>
    </div>
  </section>
  <d3-section></d3-section>
  <section class="map row" id="four">
    <div id="floating-panel">
      <strong>Start:</strong>
      <select id="start" ng-model="main.point_start">
        <option ng-repeat="option in main.points" value="{{option.value}}">{{option.name}}</option>
      </select>
      <br>
      <strong>End:</strong>
      <select id="end" ng-model="main.point_end">
        <option ng-repeat="option in main.points" value="{{option.value}}">{{option.name}}</option>
      </select>
    </div>
    <div id="right-panel"></div>
    <div id="map"></div>
    <script>
      function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });

        var default_start = "chicago, il";
        var default_end = "st louis, mo";

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('right-panel'));

        var control = document.getElementById('floating-panel');
        control.style.display = 'block';
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

        directionsService.route({
          origin: default_start,
          destination: default_end,
          travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });

        var onChangeHandler = function () {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmnz0S8V5mVsmd5jB-K6Oh-WfrRmbpc1s&callback=initMap">
    </script>
    <a href="#five" class="btn btn-default btn-lg scroll-btn">
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </a>
  </section>
  <section class="result row" id="five">
    <div class="container landing-text">
      <h1>Итого</h1>
      <h2>Умный помощник Вам насчитал:</h2>

      <div class="row">
        <div class="col-xs-12">
          Стоимость транспортировки: <small>оптимальное соотношение цены и качества</small>
        </div>
        <div class="col-xs-12">
          Таможенные платежи: <small>в пределах разумного</small>
        </div>
        <div class="col-xs-12">
          Длительность перевозки: <small>оптимально быстро</small>
        </div>
      </div>
    </div>
  </section>
</div>
