<section class="forms row" id="two" ng-cloak>
  <div class="container product-table">
    <form name="productTableForm" class="row">
      <div class="row product-table-row product-table-header">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-6 txt-center">
          Размеры коробки
        </div>
      </div>
      <div class="row product-table-row product-table-header">
        <div class="col-xs-2">
          Код продукта
        </div>
        <div class="col-xs-2">
          Длина
        </div>
        <div class="col-xs-2">
          Ширина
        </div>
        <div class="col-xs-2">
          Высота
        </div>
        <div class="col-xs-2">
          Количество
        </div>
      </div>

      <div id="productTable" class="item-table" ng-repeat="product in vm.data.products">
        <div class="row product-table-row">
          <div class="col-xs-2">
            <input type="text" class="form-control" placeholder="code" maxlength="30" name="code"
                   ng-model="product.code">
          </div>
          <div class="col-xs-2">
            <input type="number" class="form-control" placeholder="Длина" required step="any" name="length"
                   ng-model="product.length" min="0" max="5898">
          </div>
          <div class="col-xs-2">
            <input class="form-control" placeholder="Ширина" required type="number" step="any" name="width"
                   ng-model="product.width" min="0" max="2287">
          </div>
          <div class="col-xs-2">
            <input class="form-control" placeholder="Высота" required type="number" step="any" name="width"
                   ng-model="product.height" min="0" max="2698">
          </div>
          <div class="col-xs-2">
            <input class="form-control" placeholder="Количество" required type="number" step="1" name="width"
                   ng-model="product.count" min="0" max="100">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-default aria-label=" delete
            ">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-default" ng-click="vm.addProduct()">Добавить</button>
          <button class="btn btn-primary" ng-click="vm.paint()">Упаковать коробки и построить маршрут</button>
        </div>
      </div>

    </form>
  </div>
</section>

<section class="d3 row" id="three">
  <div id="container" class="render-container">
    <span class="render-container-hint">* Ctrl + скрол для увеличения. Левый клик + перенос для вращения. Правый клик + перенос для сдвига.
    </span>
  </div>
</section>
