<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="DeliveryApp">

<div ng-controller="CalculationCtrl as ctrl" layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="productTableForm">
            <div id="productTable" class="item-table" ng-repeat="product in data.products">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Code</label>
                        <input md-maxlength="30" required name="code" ng-model="product.code">

                        <div ng-messages="productTableForm.code.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Length</label>
                        <input required type="number" step="any" name="length" ng-model="product.length" min="0"
                               max="5898"/>

                        <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                            <div ng-message="required"> This is required.</div>
                            <div ng-message="min">
                                Length should be more than zero
                            </div>
                            <div ng-message="max">
                                Length should be less than 5898
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Width</label>
                        <input required type="number" step="any" name="width" ng-model="product.width" min="0"
                               max="2287"/>

                        <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                            <div ng-message="required"> This is required.</div>
                            <div ng-message="min">
                                Width should be more than zero
                            </div>
                            <div ng-message="max">
                                Width should be less than 2287
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Height</label>
                        <input required type="number" step="any" name="width" ng-model="product.height" min="0"
                               max="2698"/>

                        <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                            <div ng-message="required"> This is required.</div>
                            <div ng-message="min">
                                Height should be more than zero
                            </div>
                            <div ng-message="max">
                                Height should be less than 2698
                            </div>
                        </div>
                    </md-input-container>
                    <md-button class="md-fab md-mini md-warn" aria-label="Delete product">
                        <md-icon class="material-icons step" ng-class="md-18"
                                 ng-click="ctrl.deleteProduct(product.uuid)">delete
                        </md-icon>
                    </md-button>
                </div>
            </div>
        </form>

        <md-button class="md-raised md-primary" ng-click="ctrl.addProduct()">Add product</md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.calculatePacking()">Find packing and route</md-button>
    </md-content>
</div>

<div id="container" class="render-container">
    <span class="render-container-hint">Ctrl + scroll to zoom. Left click + drag to rotate. Right click + drag to pan.</span>
</div>

<!--Lib js-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<script src="bower_components/three.js/three.js"></script>
<script src="js/lib/three-detector.js"></script>
<script src="js/lib/three-trackball-controls.js"></script>

<!--App js-->
<script src="js/app/app.js"></script>
<script src="js/app/util/util.js"></script>
<script src="js/app/calc/CalculationService.js"></script>
<script src="js/app/calc/RenderService.js"></script>
<script src="js/app/calc/CalculationCtrl.js"></script>
<script>


</script>

</body>
</html>
